@using Application.Services.NewsServices.ShowDetailsNews
@model ShowDetailNewsDto

<div class="container">


    <header class="row ">
        <div class="row">
            <h1>@Model.Title</h1>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <img src="@Model.ImageTitle" class="img-fluid"/>
            </div>

            <div class="col-sm-8">
                <p>@Model.MetaDescription</p>
            </div>
        </div>
    </header>
    <br />
    <hr />

    <main class="row">
        

        <section class="col-sm-8">
            @foreach (var item in Model.NewsBodies)
            {
                <div class="row">
                    <h3>@item.TitleParagraph</h3>
                    <p>@item.BodyParagraph</p>
                </div>
            }

            @foreach (var item in Model.Images)
            {
                <div class="row mb-2">
                    <img src="@item" class="img-fluid rounded">
                </div>
            }
        </section>

        <aside class="col-sm-4">

        </aside>
    </main>
    <hr />
    <section class="row">
        <h4>Tags</h4>
        <div class="nav">
            
            @foreach (var item in Model.Tags)
            {
                @*<a href="#" class="nav-link btn text-black btn-sm btn-outline-light">@item</a>*@
                <a asp-action="Index" asp-controller="News" asp-route-TagName="@item" class="nav-link btn text-black btn-sm btn-outline-light" >@item</a>
            }
        </div>
    </section>
    <br />
    <section class="row border p-3">

        <h4>Comments</h4>

            @if (User.Identity.IsAuthenticated)
            {
                <form asp-action="AddComment" method="post" class="col-12">
                    <input type="text" class="form-control-plaintext" value="@Model.UserFullName" />
                    <input type="hidden" name="newsId" value="@Model.Id" />

                    <textarea class="form-control" name="body" placeholder="enter your comment..."></textarea>
                    <br />
                    <input type="submit" class="btn btn-outline-secondary" value="Add Comment" />
                </form>
            }
            else
            {
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-danger">For enter your comment, you must login!</h3>
                        <a asp-action="Login" asp-controller="Account" class="btn btn-outline-success" >Login!</a>
                    </div>
                </div>
            }



            



        @foreach (var item in Model.Comments)
        {
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h6 class="card-title">@item.FullName</h6>
                        <p class="card-text"></p>
                        <p class="card-text"></p>
                    </div>

                    <div class="card-body">
                        <p class="card-title">@item.Body</p>
                    </div>

                    <div class="card-footer">
                        <p class="card-text text-muted">@item.DateOfRegisterTime</p>
                    </div>
                </div>
            </div>
        }
    </section>



</div>