@using Application.Services.NewsServices.ShowDetailsNews
@model ShowDetailNewsDto


<div class="container">


    <header class="row ">
        <div class="row">
            <h1>@Model.Title</h1>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <img src="@Model.ImageTitle" class="img-fluid"/>
            </div>

            <div class="col-sm-8">
                <p>@Model.MetaDescription</p>
            </div>
        </div>
    </header>
    <br />
    <hr />

    <main class="row">
        

        <section class="col-sm-8">
            @foreach (var item in Model.NewsBodies)
            {
                <div class="row">
                    <h3>@item.TitleParagraph</h3>
                    <p>@item.BodyParagraph</p>
                </div>
            }

            @foreach (var item in Model.Images)
            {
                <div class="row mb-2">
                    <img src="@item" class="img-fluid rounded">
                </div>
            }


            <h4>Image Slider</h4>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
              <div class="carousel-indicators">

                @for (var counterIndicator = 0; counterIndicator < Model.Images.Count ; counterIndicator++)
                {
                    
                    if(@counterIndicator == 0)
                    {
                       <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@counterIndicator" aria-label="Slide @counterIndicator+1" class="active" aria-current="true" ></button>
                    }
                    else
                    {
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@counterIndicator" aria-label="Slide @counterIndicator+1"></button>

                    }

                    
                }
                
              </div>
              <div class="carousel-inner">


                    @for (var counterSlide = 0; counterSlide < Model.Images.Count  ; counterSlide++)
                    {

                        
                        if(@counterSlide == 0)
                        {
                            <div class="carousel-item active">
                              <img src="@Model.Images[@counterSlide]" class="d-block w-100" alt="ali">
                            </div>
                        }
                        else
                        {
                           <div class="carousel-item ">
                              <img src="@Model.Images[@counterSlide]" class="d-block w-100" alt="ali">
                            </div> 
                        }

                        
                    }


              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

        </section>

        <aside class="col-sm-4">

        </aside>
    </main>
    <hr />
    <section class="row">
        <h4>Tags</h4>
        <div class="nav">
            
            @foreach (var item in Model.Tags)
            {
                @*<a href="#" class="nav-link btn text-black btn-sm btn-outline-light">@item</a>*@
                <a asp-action="Index" asp-controller="News" asp-route-TagName="@item" class="nav-link btn text-black btn-sm btn-outline-light" >@item</a>
            }
        </div>
    </section>
    <br />
    <section class="row border p-3">

        <h4>Comments</h4>

            @if (User.Identity.IsAuthenticated)
            {
                <form asp-action="AddComment" method="post" class="col-12">
                    <input type="text" class="form-control" disabled value="@Model.UserFullName" />
                    
                    <input type="hidden" name="Slug" value="@Model.Slug" />

                    <input type="hidden" name="newsId" value="@Model.Id">

                    <textarea class="form-control" name="body" placeholder="enter your comment..."></textarea>
                    <br />
                    <input type="submit" class="btn btn-outline-secondary" value="Add Comment" />
                </form>
            }
            else
            {
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-danger">For enter your comment, you must login!</h3>
                        <a asp-action="Login" asp-controller="Account" class="btn btn-outline-success" >Login!</a>
                    </div>
                </div>
            }



            



        @foreach (var item in Model.Comments)
        {
            <div  class="col-12" id="comment" >
                <div class="card">
                    <div class="card-header">
                        <h6 class="card-title">@item.FullName</h6>
                        <a  class="card-link text-success text-decoration-none" >
                            <span>@item.NumberOfLike</span>
                            <i onclick="AddLike(event, @item.Id)" class="text-success btn p-0 bi bi-hand-thumbs-up"></i>
                        </a>
                        <a  class="card-link text-danger text-decoration-none" >
                            <span>@item.NumberOfDislike</span>
                            <i onclick="AddDisLike(event, @item.Id)" class="text-danger btn p-0 bi bi-hand-thumbs-down"></i>
                        </a>
                    </div>

                    <div class="card-body">
                        <p class="card-title">@item.Body</p>
                    </div>

                    <div class="card-footer">
                        <p class="card-text text-muted">@item.DateOfRegisterTime</p>
                        <a class="reply btn btn-sm btn-outline-warning" onclick="sendReply(event, @item.Id)">Reply</a>
                    </div>
                </div>
            </div>
            @if (item.Replies.Any())
            {
                @foreach (var reply in item.Replies)
                {
                    <div  class="col-11 justify-content-end " id="comment" >
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title text-muted"><i class="bi fs-5 text-muted bi-arrow-return-right"></i> Reply To <em>@item.FullName</em></h6>
                                <h6>@reply.FullName</h6>
                                <a  class="card-link text-success text-decoration-none" >
                                    <span>@reply.NumberOfLike</span>
                                    <i onclick="AddLike(event, @reply.Id)" class="text-success btn p-0 bi bi-hand-thumbs-up"></i>
                                </a>
                                <a  class="card-link text-danger text-decoration-none" >
                                    <span>@reply.NumberOfDislike</span>
                                    <i onclick="AddDisLike(event, @reply.Id)" class="text-danger btn p-0 bi bi-hand-thumbs-down"></i>
                                </a>
                            </div>

                            <div class="card-body">
                                <p class="card-title">@reply.Body</p>
                            </div>

                            <div class="card-footer">
                                <p class="card-text text-muted">@reply.DateOfRegisterTime</p>
                       
                            </div>
                        </div>
                    </div>
                    <br />
                }
            }
        }
    </section>



</div>



@section Scripts {
    <script>



    function AddLike(e, id) {
        $.ajax({
            url:`/news/likeaction`,
            method: "POST",
            data: {
                "Id":id,
                "Slug":"@Model.Slug"
            },
            success: function(result) {
                e.target.previousElementSibling.innerHTML = result;
            }
        })
    }

    function AddDisLike(e, id) {
        $.ajax({
            url:`/news/dislikeaction`,
            method: "POST",
            data: {
                "Id":id,
                "Slug":"@Model.Slug"
            },
            success: function(result) {
                e.target.previousElementSibling.innerHTML = result;
            }
        })
    }

        function sendReply(event, parentCommentId) {

            let currentTag = event.target.parentElement.parentElement;

            let form = document.createElement('div');
            let textarea = document.createElement('textarea');
            let button = document.createElement('button');
            let buttonRemove = document.createElement('button');
            buttonRemove.innerHTML = "Cancel";
            buttonRemove.setAttribute("class", "btn btn-danger mb-2 cancel");
            button.innerHTML = "Send";
            button.setAttribute("class", "btn btn-success mt-2 send");
            textarea.setAttribute("placeholder", "enter your reply comment for ");
            form.setAttribute("class","p-3 primary-border")
            textarea.className = "form-control";



            form.append(buttonRemove,textarea,button);

            currentTag.append(form)

            buttonRemove.addEventListener("click", (e) => {
                let cc = e.target.parentElement;
                cc.remove();
            })



            button.addEventListener("click", () => {
                $.ajax("/news/addcomment", {
                    url: "/news/addcomment",
                    method: "POST",
                    data: {
                        "body": textarea.value,
                        "newsId": @Model.Id,
                        "slug": "@Model.Slug",
                        "parentCommentId":parentCommentId
                    }
                });
            })


            
        }// end sendReply function...

    </script>
}